{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="button" id="button-import" data-toggle="tooltip" title="{{ button_import }}" class="btn btn-success"><i class="fa-solid fa-upload"></i></button>
				<button type="submit" form="form-feed" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="alert alert-info fade show" role="alert">
			<i class="fa-solid fa-info-circle"></i> {{ text_import }}
		</div>
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
			<div class="card-body">

				<form id="form-feed" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<div id="category"></div>

					<br />

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-google-category">{{ entry_google_category }}</label>
						<div class="col-sm-10">

							<input type="text" name="google_base_category" value="" placeholder="{{ entry_google_category }}" id="input-google-category" data-oc-target="autocomplete-google-category" class="form-control" autocomplete="off" />
							<ul id="autocomplete-google-category" class="dropdown-menu"></ul>
							<input type="hidden" name="google_base_category_id" value="" />

							<div class="input-group">
								<input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" data-oc-target="autocomplete-category" class="form-control" autocomplete="off" />
								<span class="input-group-btn">
									<button type="button" id="button-category-add" data-toggle="tooltip" title="{{ button_category_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
								</span>
							</div>
							<ul id="autocomplete-category" class="dropdown-menu"></ul>
							<input type="hidden" name="category_id" value="" />

						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-skip-out-of-stock">{{ entry_skip_out_of_stock }}</label>
						<div class="col-sm-10">
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="feed_ps_google_base_skip_out_of_stock" value="0" />
								<input type="checkbox" name="feed_ps_google_base_skip_out_of_stock" value="1" class="form-check-input" {% if feed_ps_google_base_skip_out_of_stock %} checked{% endif %} id="input-skip-out-of-stock" />
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-currency">{{ entry_currency }}</label>
						<div class="col-sm-10">
							<select name="feed_ps_google_base_currency" id="input-currency" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for currency in currencies %}
								<option value="{{ currency.code }}" {% if feed_ps_google_base_currency==currency.code %} selected="selected" {% endif %}>{{ currency.title }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-tax-status">{{ entry_tax }}</label>
						<div class="col-sm-10">
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="feed_ps_google_base_tax" value="0" />
								<input type="checkbox" name="feed_ps_google_base_tax" value="1" class="form-check-input" {% if feed_ps_google_base_tax %} checked{% endif %} id="input-tax-status" />
							</div>
						</div>
					</div>

					<fieldset class="row mb-3" id="tax-group"{% if feed_ps_google_base_tax == 0 %} style="display: none;"{% endif %}>
						<legend>{{ text_tax_deffinitions }}</legend>

						<div class="table-responsive">
							<table id="tax-table" class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-start">{{ entry_country }}</td>
										<td class="text-start">{{ entry_region }}</td>
										<td class="text-start">{{ entry_tax_rate }}</td>
										<td class="text-start">{{ entry_tax_ship }}</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									{% for tax in feed_ps_google_base_taxes %}
									<tr id="tax-row-{{ loop.index0 }}">
										<td class="text-start">
											<input type="text" name="feed_ps_google_base_taxes[{{ loop.index0 }}][country]" value="{{ tax.country }}" placeholder="{{ entry_country }}" data-oc-target="autocomplete-tax-country-{{ loop.index0 }}" id="input-tax-country-{{ loop.index0 }}" class="form-control" autocomplete="off" />
											<input type="hidden" name="feed_ps_google_base_taxes[{{ loop.index0 }}][country_id]" value="{{ tax.country_id }}" id="input-tax-country-id-{{ loop.index0 }}" class="form-control" />
											<ul id="autocomplete-tax-country-{{ loop.index0 }}" class="dropdown-menu"></ul>
											<div id="error-input-tax-country-{{ loop.index0 }}" class="invalid-feedback"></div>
										</td>
										<td class="text-start">
											<input type="text" name="feed_ps_google_base_taxes[{{ loop.index0 }}][region]" value="{{ tax.region }}" id="input-tax-region-{{ loop.index0 }}" placeholder="{{ entry_region }}" maxlength="2" class="form-control" />
											<div id="error-input-tax-region-{{ loop.index0 }}" class="invalid-feedback"></div>
										</td>
										<td class="text-start">
											<select name="feed_ps_google_base_taxes[{{ loop.index0 }}][tax_rate_id]" id="input-tax-rate-id-{{ loop.index0 }}" class="form-select">
												{% for tax_rate in tax_rates %}
												<option value="{{ tax_rate.tax_rate_id }}" {% if tax_rate.tax_rate_id == tax.tax_rate_id %} selected{% endif %}>{{ tax_rate.name }}</option>
												{% endfor %}
											</select>
											<div id="error-input-tax-rate-id-{{ loop.index0 }}" class="invalid-feedback"></div>
										</td>
										<td class="text-start">
											<div class="form-check form-switch form-switch-lg">
												<input type="hidden" name="feed_ps_google_base_taxes[{{ loop.index0 }}][tax_ship]" value="0" />
												<input type="checkbox" name="feed_ps_google_base_taxes[{{ loop.index0 }}][tax_ship]" value="1" class="form-check-input" {% if tax.tax_ship %} checked{% endif %} id="input-tax-ship-{{ loop.index0 }}" />
											</div>
										</td>
										<td class="text-end"><button type="button" onclick="$('#tax-row-{{ loop.index0 }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6" class="text-end"><button type="button" id="button-tax" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
									</tr>
							</table>
						</div>

					</fieldset>

					<div class="row mb-3">
						<div class="accordion" id="accordion-security">

							<div class="accordion-item">
								<h2 class="accordion-header"><button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-authentication">{{ text_authentication }}</button></h2>

								<div id="collapse-authentication" class="accordion-collapse collapse" data-bs-parent="#accordion-security">
									<div class="accordion-body">

										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="input-login">{{ entry_login }}</label>
											<div class="col-sm-10">
												<input type="text" name="feed_ps_google_base_login" value="{{ feed_ps_google_base_login }}" placeholder="{{ entry_login }}" class="form-control" id="input-login">
											</div>
										</div>

										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="input-password">{{ entry_password }}</label>
											<div class="col-sm-10">
												<input type="password" name="feed_ps_google_base_password" value="{{ feed_ps_google_base_password }}" placeholder="{{ entry_password }}" class="form-control" id="input-password">
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_data_feed_url }}</label>
						<div class="col-sm-10">
							{% for language in languages %}
							<div class="input-group">
								<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></div>
								<input type="text" name="data_feed_{{ language.language_id }}" value="{{ data_feed_urls[language.language_id] }}" id="input-data-feed-{{ language.language_id }}" class="form-control" readonly />
								<span class="input-group-btn">
									<button type="button" class="btn btn-success btn-copy" data-toggle="tooltip" data-input-id="input-data-feed-{{ language.language_id }}" title="{{ help_copy }}"><i class="fa fa-copy"></i></button>
								</span>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="feed_ps_google_base_status" id="input-status" class="form-control">
								{% if feed_ps_google_base_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
	<script>
		//

		$(document).on('focus', 'input[id^="input-tax-rate"]', function () {
			var $this = $(this);
			var $this_id = $(this).next('input[id^="input-tax-rate-value"]');

			$this.autocomplete({
				'source': function (request, response) {
					$.ajax({
						url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.taxrateautocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
						dataType: 'json',
						success: function (json) {
							response($.map(json, function (item) {
								return {
									label: item['name'],
									value: item['rate']
								}
							}));
						}
					});
				},
				'select': function (item) {
					$this.val(item['label']);
					$this_id.val(item['value']);
				}
			});
		});

		$(document).on('focus', 'input[id^="input-tax-country"]', function () {
			var $this = $(this);
			var $this_id = $(this).next('input[id^="input-tax-country-id"]');

			$this.autocomplete({
				'source': function (request, response) {
					$.ajax({
						url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.countryautocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
						dataType: 'json',
						success: function (json) {
							response($.map(json, function (item) {
								return {
									label: item['name'],
									value: item['iso_code_2']
								}
							}));
						}
					});
				},
				'select': function (item) {
					$this.val(item['label']);
					$this_id.val(item['value']);
				}
			});
		});

		$('#input-tax-status').on('change', function () {
			var taxGroup = $('#tax-group');

			if ($(this).prop('checked')) {
				taxGroup.fadeIn();
			} else {
				taxGroup.fadeOut();
			}
		});

		var tax_row = {{ feed_ps_google_base_taxes|length }};

		$('#button-tax').on('click', function () {
			var html = '<tr id="tax-row-' + tax_row + '">';
			html += '	<td class="text-start">';
			html += '		<input type="text" name="feed_ps_google_base_taxes[' + tax_row + '][country]" value="{{ tax.country }}" placeholder="{{ entry_country }}" data-oc-target="autocomplete-tax-country-' + tax_row + '" id="input-tax-country-' + tax_row + '" class="form-control" autocomplete="off" />';
			html += '		<input type="hidden" name="feed_ps_google_base_taxes[' + tax_row + '][country_id]" value="{{ tax.country_id }}" id="input-tax-country-id-' + tax_row + '" class="form-control" />';
			html += '		<ul id="autocomplete-tax-country-' + tax_row + '" class="dropdown-menu"></ul>';
			html += '		<div id="error-input-tax-country-' + tax_row + '" class="invalid-feedback"></div>';
			html += '	</td>';
			html += '	<td class="text-start">';
			html += '		<input type="text" name="feed_ps_google_base_taxes[' + tax_row + '][region]" value="{{ tax.region }}" id="input-tax-region-' + tax_row + '" placeholder="{{ entry_region }}" maxlength="2" class="form-control" />';
			html += '		<div id="error-input-tax-region-' + tax_row + '" class="invalid-feedback"></div>';
			html += '	</td>';
			html += '	<td class="text-start">';
			html += '	<select name="feed_ps_google_base_taxes[' + tax_row + '][tax_rate_id]" id="input-tax-rate-id-' + tax_row + '" class="form-select">';
			html += '		{% for tax_rate in tax_rates %}<option value="{{ tax_rate.tax_rate_id }}" {% if tax_rate.tax_rate_id == tax.tax_rate_id %} selected{% endif %}>{{ tax_rate.name }}</option>{% endfor %}';
			html += '	</select>';
			html += '	<div id="error-input-tax-rate-id-' + tax_row + '" class="invalid-feedback"></div>';
			html += '	</td>';
			html += '	<td class="text-start">';
			html += '		<div class="form-check form-switch form-switch-lg">';
			html += '			<input type="hidden" name="feed_ps_google_base_taxes[' + tax_row + '][tax_ship]" value="0" />';
			html += '			<input type="checkbox" name="feed_ps_google_base_taxes[' + tax_row + '][tax_ship]" value="1" class="form-check-input" {% if tax.tax_ship %} checked{% endif %} id="input-tax-ship-' + tax_row + '" />';
			html += '		</div>';
			html += '	</td>';
			html += '	<td class="text-end"><button type="button" onclick="$(\'#tax-row-' + tax_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
			html += '</tr>';

			$('#tax-table tbody').append(html);

			tax_row++;
		});

		window.addEventListener("load", (event) => {
			var btns = document.querySelectorAll('.btn-copy');

			btns.forEach(btn => {
				btn.addEventListener("click", function () {
					var copyText = document.querySelector("#" + this.dataset.inputId);

					if (copyText) {
						copyText.select();
						copyText.setSelectionRange(0, 99999);
						document.execCommand("copy");
					}
				});
			});
		});

		// Google Category
		$('input[name=\'google_base_category\']').autocomplete({
			'source': function (request, response) {
				$.ajax({
					url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
					dataType: 'json',
					success: function (json) {
						response($.map(json, function (item) {
							return {
								label: item['name'],
								value: item['google_base_category_id']
							}
						}));
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			},
			'select': function (item) {
				$(this).val(item['label']);
				$('input[name=\'google_base_category_id\']').val(item['value']);
			}
		});

		// Category
		$('input[name=\'category\']').autocomplete({
			'source': function (request, response) {
				$.ajax({
					url: 'index.php?route=catalog/category.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
					dataType: 'json',
					success: function (json) {
						response($.map(json, function (item) {
							return {
								label: item['name'],
								value: item['category_id']
							}
						}));
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			},
			'select': function (item) {
				$(this).val(item['label']);
				$('input[name="category_id"]').val(item['value']);
			}
		});

		$('#category').delegate('.pagination a', 'click', function (e) {
			e.preventDefault();

			$('#category').load(this.href);
		});

		$('#category').load('index.php?route=extension/ps_google_base/feed/ps_google_base.category&user_token={{ user_token }}');

		$('#button-category-add').on('click', function () {
			$.ajax({
				url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.addcategory&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: 'google_base_category_id=' + $('input[name=\'google_base_category_id\']').val() + '&category_id=' + $('input[name=\'category_id\']').val(),
				beforeSend: function () {
					$('#button-category-add').button('loading');
				},
				complete: function () {
					$('#button-category-add').button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['success']) {
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

						$('input[name=\'category\']').val('');
						$('input[name=\'category_id\']').val('');
						$('input[name=\'google_base_category\']').val('');
						$('input[name=\'google_base_category_id\']').val('');

						$('#category').load('index.php?route=extension/ps_google_base/feed/ps_google_base.category&user_token={{ user_token }}');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});

		$('#category').delegate('.btn-danger', 'click', function () {
			var element = this;

			$.ajax({
				url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.removecategory&user_token={{ user_token }}',
				type: 'post',
				data: 'category_id=' + encodeURIComponent(this.value),
				dataType: 'json',
				crossDomain: true,
				beforeSend: function () {
					$(element).button('loading');
				},
				complete: function () {
					$(element).button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					// Check for errors
					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['success']) {
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

						$('#category').load('index.php?route=extension/ps_google_base/feed/ps_google_base.category&user_token={{ user_token }}');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});

		$('#button-import').on('click', function () {
			$('#form-upload').remove();

			$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

			$('#form-upload input[name=\'file\']').trigger('click');

			if (typeof timer != 'undefined') {
				clearInterval(timer);
			}

			timer = setInterval(function () {
				if ($('#form-upload input[name=\'file\']').val() != '') {
					clearInterval(timer);

					$.ajax({
						url: 'index.php?route=extension/ps_google_base/feed/ps_google_base.import&user_token={{ user_token }}',
						type: 'post',
						dataType: 'json',
						data: new FormData($('#form-upload')[0]),
						cache: false,
						contentType: false,
						processData: false,
						beforeSend: function () {
							$('#button-import').button('loading');
						},
						complete: function () {
							$('#button-import').button('reset');
						},
						success: function (json) {
							$('.alert-dismissible').remove();

							if (json['error']) {
								$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
							}

							if (json['success']) {
								$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			}, 500);
		});
	</script>
</div>
{{ footer }}
