<div class="row mb-3">
	<div class="col-sm-6 text-start">{{ pagination }}</div>
	<div class="col-sm-6 text-end">{{ results }}</div>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<td class="text-start">{{ column_google_category }}</td>
			<td class="text-start">{{ column_category }}</td>
			<td class="text-end">{{ column_action }}</td>
		</tr>
	</thead>
	<tbody>
		{% if google_base_categories %}
		{% for google_base_category in google_base_categories %}
		<tr>
			<td class="text-start">{{ google_base_category.google_base_category }}</td>
			<td class="text-start">{{ google_base_category.category }}</td>
			<td class="text-end"><button type="button" value="{{ google_base_category.category_id }}" data-loading-text="{{ text_loading }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td class="text-center" colspan="3">{{ text_no_results }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
<div class="row mb-3">
	<div class="col-sm-6 text-start">{{ pagination }}</div>
	<div class="col-sm-6 text-end">{{ results }}</div>
</div>
